[submodule "external/entt"]
	path = external/entt
	url = https://github.com/skypjack/entt.git
[submodule "external/fastgltf"]
	path = external/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/chFleschutz/imgui.git
[submodule "external/imguizmo"]
	path = external/imguizmo
	url = https://github.com/chFleschutz/ImGuizmo.git
[submodule "external/meshoptimizer"]
	path = external/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "external/vma"]
	path = external/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "external/volk"]
	path = external/volk
	url = https://github.com/zeux/volk.git
[submodule "modules/aegis-assets"]
	path = modules/aegis-assets
	url = https://github.com/chFleschutz/aegis-assets.git
[submodule "modules/aegis-gltf"]
	path = modules/aegis-gltf
	url = https://github.com/chFleschutz/aegis-gltf.git
[submodule "modules/aegis-log"]
	path = modules/aegis-log
	url = https://github.com/chFleschutz/aegis-log.git
